.language {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  letter-spacing: 0.05px;
  text-align: center;
}

.card {
  box-shadow: 0px 0px 20px 20px rgba(100,100,100,.1);
  padding: 12px;
  border-radius: 10px;
}
