@import '~bootstrap/scss/bootstrap';
.body {
   padding-top: 70px;
}

.social-icons {
   display: flex;
   justify-content: center;
   margin-bottom: 1rem;

   .social-icon {
       display: inline-flex;
       align-items: center;
       justify-content: center;
       height: 3.5rem;
       width: 3.5rem;
       background-color: #435057;
       color: #fff;
       border-radius: 100%;
       font-size: 1.7rem;
       margin-right: 1.5rem;
   }

   .social-icon:hover {
       background-color: #03adfc;
       text-decoration: none;
       transform: scale(1.09);
   }
}
