.bg-dark {
  background-color: #17a2b8;
}

.tagline {
  font-size: 85%;
  color: rgba(184, 184, 184, 0.892);
}

#aboutIcon {
   display: flex;
   justify-content: flex-start;
 }

.aboutTitles {
  margin: 3rem 0;
  border-bottom: 0.2px solid rgba(50, 50, 50, 0.3);
}

.aboutLink {
  margin: 0.5rem;
}

.whatBox {
  margin-bottom: 2rem;

  @media (min-width: 990px) {
    margin: auto;
  }
}
